{% extends "/admin/base.html" %}

{% block styles %}
    {{ super() }}

    <style>
    .table>thead>tr>th,.table>tbody>tr>td {
        vertical-align: middle;
        text-align: center;
    }

    .table>thead>tr>th:nth-child(2),.table>tbody>tr>td:nth-child(2) {
        text-align: left;
    }
    </style>
{% endblock %}

{% block article %}

<table class="table table-hover">
    <caption>设置</caption>
    <thead>
        <tr>
            <th>项</th>
            <th>值</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>用户名</td>
            <td>{{config.username}}</td>
            <td></td>
        </tr>

        <form action="/admin/config/password" method="POST">
            <tr>
                <td>密码</td>
                <td>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password"/>
                </td>
                <td><button type="submit" class="btn btn-danger" onclick="return check_password()">修改</button></td>
            </tr>
        </form>

        <form action="/admin/config/title" method="POST">
            <tr>
                <td>站点标题</td>
                <td>
                    <input id="title" type="text" class="form-control" name="title" placeholder="Title" value="{{config.title}}"/>
                </td>
                <td><button type="submit" class="btn btn-danger" onclick="return check_title()">修改</button></td>
            </tr>
        </form>

        <form  action="/admin/config/email" method="POST">
            <tr>
                <td>E-Mail</td>
                <td>
                    <input id="email" type="text" class="form-control" name="email" placeholder="E-Mail" value="{{config.email}}"/>
                </td>
                <td><button type="submit" class="btn btn-danger">修改</button></td>
            </tr>
        </form>
    </tbody>
</table>

<script>

function check_password()
{
    len = document.getElementById("password").value.length
    if(len < 8 || len > 64)
    {
        alert("密码的长度应该在8~64个字符之间。")
        return false
    }
    else
    {
        return true
    }
}

function check_title()
{
    len = document.getElementById("title").value.length
    if(len < 2 || len > 64)
    {
        alert("站点标题的长度应该在2~64个字符之间。")
        return false
    }
    else
    {
        return true
    }
}

</script>

{% endblock %}