html,body {
  height: 100%;
}

.hide {
  height: 0;
  width: 0;
  border: 0;
}

.surface {
  display: block;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 2;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: white;
  overflow: auto;
}

/* 代码显示不折行,超出宽度显示滚动条 */
.surface code {
  overflow: auto;
  white-space: pre;
}

/* 图片宽度不超出范围 */
.surface img{
  max-width: 99%;
}

/* hr标签加粗 */
.surface hr {
  border-top: 2px solid #ccc;
}

/* 表格显示边框 */
.surface table{
  border-collapse: collapse;
  border: none;
  max-width: 99%;
}

/* 表格显示边框 */
.surface td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5
}

/* 表头居中 */
.surface th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  text-align: center;
}

/* 文章标题不折行 */
.article-title{
  overflow: hidden;
  display: block;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:inherit;"
}

/* 引用块 */
blockquote {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0px 0px 20px;
  background-color: #f1f8ff;
  border-left: 5px solid rgb(200, 225, 255);
}

/* 标签 */
.label {
  display: inline-block;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}