html,body {
  height: 100%;
}

.hide {
  height: 0;
  width: 0;
  border: 0;
}

.surface {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
}

/* 代码显示不折行,超出宽度显示滚动条 */
.surface code {
  overflow: auto;
  white-space: pre;
}

/* 图片宽度不超出范围 */
.surface img{
  width: 99%;
}

/* hr标签加粗 */
.surface hr {
  border-top: 2px solid #ccc;
}

/* 表格显示边框 */
.surface table{
  border-collapse: collapse;
  border: none;
  width: 99%;
}

/* 表格显示边框 */
.surface td{
  border: solid #000 1px;
}

/* 表头居中 */
.surface th{
  border: solid #000 1px;
  text-align: center;
}

/* 文章标题不折行 */
.article-title{
  overflow: hidden;
  display: block;
  text-overflow:ellipsis;
  white-space:nowrap;
}