{% extends "base.html" %}

{% block article %}

{% endblock %}

{% block aside %}
<div class="btn-group-vertical" style="width: 99%">
    <a class="btn btn-default btn-lg" href="/admin/article/edit">新建文章</a>
    <a class="btn btn-default btn-lg" href="/admin/article/manage">管理文章</a>
    <a class="btn btn-default btn-lg" href="/admin/category/manage">管理分类</a>
    <a class="btn btn-default btn-lg" href="/admin/comment/manage">管理回复</a>
    <a class="btn btn-default btn-lg" href="/admin/message/manage">管理留言</a>
    <a class="btn btn-info btn-lg" href="/admin/config">设置</a>
    <a class="btn btn-danger btn-lg" href="/admin/logout">退出</a>
</div>
{% endblock %}