{% extends "base.html" %}

{% block article %}

{% endblock %}

{% block aside %}
<div class="btn-group-vertical" style="width: 99%">
    <button type="button" class="btn btn-default btn-lg">新建文章</button>
    <button type="button" class="btn btn-default btn-lg">管理文章</button>
    <button type="button" class="btn btn-default btn-lg">管理回复</button>
    <button type="button" class="btn btn-default btn-lg">管理留言</button>
    <button type="button" class="btn btn-default btn-lg">管理分类</button>
    <button type="button" class="btn btn-info btn-lg">设置</button>
    <button type="button" class="btn btn-danger btn-lg">退出</button>
</div>
{% endblock %}