{% extends "/admin/base.html" %}

{% block article %}
    <form role="form">
        <div class="form-group">
            <label for="title">文章标题</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Article Title">
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li id="edit-tab" class="active"><a href="#" onclick="edit()">编辑</a></li>
            <li id="preview-tab"> <a href="#" onclick="preview()">预览</a></li>
        </ul>


        <div class="form-group" id="edit-div">
            <textarea id="edit-area" class="form-control" rows="25" placeholder="采用Markdown编辑文章"></textarea>
            <p class="help-block">
                Markdown使用
                <a href="/help/markdown">帮助</a>
                。
            </p>
        </div>

        <div id="preview-div" class="surface" style="display: none; width: 100%;"></div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>

<script>
    /* 显示编辑页、隐藏预览页 */
    function edit()
    {
        let preview_tab = document.getElementById("preview-tab")
        let edit_tab = document.getElementById("edit-tab")
        preview_tab.setAttribute("class", "")
        edit_tab.setAttribute("class", "active")
        
        let edit_div = document.getElementById("edit-div")
        let preview_div = document.getElementById("preview-div")
        
        preview_div.style.display= "none";
        edit_div.style.display = "block"
    }

    /* 更新预览内容、显示预览页、隐藏编辑页 */
    function preview()
    {
        let preview_tab = document.getElementById("preview-tab")
        let edit_tab = document.getElementById("edit-tab")
        preview_tab.setAttribute("class", "active")
        edit_tab.setAttribute("class", "")
        
        let edit_div = document.getElementById("edit-div")
        let preview_div = document.getElementById("preview-div")
        let edit_area = document.getElementById("edit-area")
        
        preview_div.innerHTML = marked(edit_area.value)
        Prism.highlightAll();
        window.MathJax.Hub.Queue(["Typeset", MathJax.Hub, preview_div]);

        preview_div.style.display = "block";
        edit_div.style.display = "none"
    }
</script>
{% endblock %}