{% extends "/admin/base.html" %}

{% block content %}
<div class="panel panel-default" style="width:600px; margin:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">管理用户登录</h3>
    </div>
    
    <div class="panel-body">
        <form class="form-horizontal" role="form" action="/admin/login" method="POST">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input id="username" type="text" class="form-control" name="username" placeholder="Username">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" onclick="return check()">确定</button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            function check()
            {
                let name = document.getElementById("username").value
                let pw = document.getElementById("password").value
                if(name.length < 5 || name.length > 64)
                {
                    alert("用户名的长度应该在5~64个字符之间。")
                    return false
                }
                else if(pw.length < 8 || pw.length > 64)
                {
                    alert("密码的长度应该在8~64个字符之间。")
                    return false
                }
                else
                {
                    return true
                }
            }
        </script>
    </div>
</div>

{%if message != None%}
<br/>
<div class="panel panel-danger" style="width:600px; margin:auto;">
    <div class="panel-heading">
        <h3 class="panel-title">失败</h3>
    </div>

    <div class="panel-body">
        {{ message }}
    </div>
</div>
{% endif %}
{% endblock %}

{% block aside %}
{% endblock %}
