{% extends "base.html" %}

{% block article %}
<article>
    {% if article_list == None %}
        <h1>没有文章</h1>
    {% else %}
        {% for article in article_list.items %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a class="article-title" title="{{article.title}}" href="">
                            <span class="glyphicon glyphicon-flag"></span>
                            {{article.title}}
                        </a>
                    </h3>
                </div>
                
                <div class="panel-footer">
                    阅读({{ article.reading }}) {{ moment(article.date).format('LLL') }} 
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <ul class="pager">
        {% if article_list.prev_num != None %}
            <li class="previous">
                <a href="?page={{article_list.prev_num}}">
                    上一页
                </a>
            </li>
        {% endif %}

        {% if article_list.next_num != None %}
            <li class="next">
                <a href="?page={{article_list.next_num}}">
                    下一页
                </a>
            </li>
        {% endif %}
    </ul>
</article>
{% endblock %}

{% block aside %}
<h4>Aside</h4>
{% endblock %}