{% extends "base.html" %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
    var markdown = document.getElementById("markdown").innerText
    document.getElementById("content").innerText = markdown
    document.getElementById("content").innerHTML = DOMPurify.sanitize(marked(markdown))
    window.MathJax.Hub.Queue(["Typeset", MathJax.Hub, document.getElementById('content')]);
</script>
{% endblock %}

{% block article %}
<article>
    {% if article == None %}
        <div class="panel panel-info" >
            <div class="panel-heading">
                <h3 class="panel-title">Welcome</h3>
            </div>
        
            <div class="panel-body">
                当前没有文章
            </div>
        </div>
    {% else %}
        <h1>{{ article.title }}</h1>
        <p>阅读({{ article.reading }}) {{ moment(article.date).format('LLL') }}</p>
        <p id="content" class="surface"></p>
    {% endif %}
</article>
{% endblock %}

{% block aside %}
<h4>Aside</h4>
{% endblock %}

{% block seo %}   {% if article.content != None %}
<article class="hide"><pre id="markdown">{{ article.content }}</pre></article>
{% endif %}   {% endblock%}