{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}

    <link href="/static/css/prism.css" rel="stylesheet" />
    <link href='/static/css/basic.css' rel='stylesheet'/>
    <link href='/static/css/highlight.css' rel='stylesheet'/>
{% endblock %}

{% block content %}
<div id="surface" style="overflow: hidden;"></div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="/static/js/marked.js"></script>
    <!-- <script type="text/javascript" src="/static/js/highlight.pack.js"></script> -->
    <script src="/static/js/prism.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        window.MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    </script>
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

